
body{
    background-color: #AFB8DB;
    padding: 0;
    margin: 0;
}

.background{
    background-image: url(media/c2ec6c39-6a34-4ecb-8799-eca6ad297eda.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    padding: 30px;
}

.header{
    display: flex;
    margin-bottom: 10%;
}

.title {
    font-weight: bold;
    font-size: 50px;
    color: white;
}

.header-links{
    display: flex;
    font-size: 36px;
    gap: 20px;
    margin-left: auto;
    flex-wrap: wrap;
    color: white;
}

h1{
    text-align: center;
    font-size: 8rem;
    color: white;
}

@media screen and (max-width: 768px) {
    h1 {
      font-size: 3rem;
    }
}

.arrow-icon {
    margin-top: 200px;
    margin-bottom: 300px;
}

.subscribe-form {
    background-color: black;
    color: white;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: -200px;
    margin-left: 50px;
    margin-right: 50px;
}

.subscribe-form>.text{
    max-width: 60%;
}

.text>h2{
    font-size: 3rem;
}

.text>h3{
    font-size: 2rem;
    font-weight: 100;
}

#myForm>input{
    min-height: 40px;
    font-size: 24px;
}

#myForm {
    display: flex;
    flex: auto;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}