*{
    font-family: Arial, Helvetica, sans-serif
}




.header {
    display: flex;
   font-size: 18px;
   margin-top: 20px;
   padding-left: 5%;
   padding-right: 5%;
   align-items: baseline;
}

.header > .Sabiduria-Moderna {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}


.header-nav {
    display: flex;
   margin-left: auto;
    gap: 20px;
    flex-wrap: wrap;
}

.intro{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro > h1{
    font-size: 50px;
    text-align: center;
}


.img-background {
    width: 100%;
    max-height: 540px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: hwb(0 0% 100%);
}

.sabiduria-moderna-img{
    max-width: 100%;
    background-color: black;
    
}

.sabiduria-moderna-img2{
    max-height: 500px;
    background-color: black;
    padding-left: 100%;
    padding-right: 100%;
}

.subscribe-text > h3{
    font-weight: normal;
    max-width: 500px;
}

.subscribe-text > h2{
    max-width: 500px;
}

.subscribe-section {
    display: flex;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    padding-bottom: 50px;
    border-bottom: 5px solid black;
}

.subscribe, form{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    gap: 25px;
}

.subscribe >input, .mail{
    min-height: 36px;
    min-width: 300px;
}

.subscribe >button, .button {
    min-height: 36px;
}





.articles {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.article-repo {
    display: flex;
    flex: auto;
    
    flex-wrap: wrap;
    gap: 50px;
}

.article {
    max-width: 500px;
    flex: auto;
}

.articles >h2 {
    font-size: 50px;
    flex-shrink: 1;
}

.page-break {
    background-color: black;
    width: fit-content;
}

.article-img {
    max-width: 100%;
}



.article >h3 {
    font-size: 24px;
}

.article-link {
    text-decoration: none;
    color:black ;

}

.article-link a:visited {
    text-decoration: none;
    color:black ;

}


footer {
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

 a {
    text-decoration: none;
    color: black;
}

 a:visited {
    text-decoration: none;
    color: black;
}