body {
    padding: 0;
    margin: 0;
}

.background {
    background-image: url(media/thereader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center -100px;
    padding: 30px;
    padding-top: 40px;
}

/* Header and title*/

.header {
    display: flex;
    gap: 45px;
}

.title {
    font-weight: bold;
    font-size: 40px;
    color: white;
    margin-top: -10px;
}

@media screen and (max-width:400px) {
    .title{
        font-size: 30px;
    }
}

.header-links {
    display: flex;
    font-size: 30px;
    gap: 20px;
    margin-left: auto;
    flex-wrap: wrap;
    color: white;
}

.header-links>a{
    color: white;
    text-decoration-line: none;
}

.header-links>a:hover{
    color: rgb(22, 22, 22);
}

a:hover>svg{
    fill: black;
}

.header-nav-dropdown {
    display: none; 
     margin-left: auto;
     position: relative;
     float: right;
 }
 
 .dropbtn {
     max-width: 50px;
 }
 
 
 .dropdown-content {
     display: none;
     position: absolute;
     right: -20px;
     top: -8px;
     background-color: black;
     text-decoration-color: white;
     min-width: 100px;
     border-radius: 3%;
     box-shadow: 0px 0px 10px 10px rgba(253, 253, 253, 0.438);
     padding: 6px 16px 12px;
     z-index: 1;
     margin-top: 0;
   }
 
 .black-dropbtn {
     max-width: 50px;
     display: block;
     margin-left: auto;
     margin-right: 8px;
 }
 
 .dropdown-content>a {
     color: white;
     display: block;
     margin-top: 10px;
     text-align: center;
     font-size: 30px;
     text-decoration: none;
 }
 
 .dropdown-content>a:hover {
    color: gray;
    display: block;
    margin-top: 10px;
    text-align: center;
    font-size: 36px;
}
 
   @media screen and (max-width: 900px) {
     .header-links {
       display: none;
     }
   
     .header-nav-dropdown {
       display: block;
     }
   
     .dropdown-content {
       display: none;
     }
 
     .header-links {
         display: none;
     }
 
     .Sabiduria-Moderna {
         align-self: center;
     }
     
 
   }

h2 {
    margin-top: 10%;
    text-align: center;
    font-size: 8rem;
    color: white;
    padding-right: 10%;
    padding-left: 10%;
}

@media screen and (max-width: 1000px) {
    h2 {
        font-size: 5rem;
    }
}

@media screen and (max-width: 560px) {
    h2 {
        font-size: 2.5rem;
    }
}

.down-arrow {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.down-arrow:hover{
    fill: black;
    color: black;
}

#first-jump {
    margin-bottom: 5%;
}

/*Subscribe Form*/

.subscribe-form {
    background-color: #D9D9D9;
    color: black;
    padding: 30px;
    display: flex;
    gap: 20px;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 20px;
    margin-bottom: 5%;
}

@media screen and (max-width:1000px) {
    .subscribe-form{
        margin-left: 10%;
        margin-right: 10%;
    }
    
}

@media screen and (max-width:500px) {
    .subscribe-form{
        margin-left: 2%;
        margin-right: 2%;
    }
    
}

.text {
    display: flex;
    flex-direction: column;
    flex: auto;
    gap: 15px;
   /* max-width: 60%; */
}

.text>h3 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.text>h4 {
    font-size: 1.5rem;
    font-weight: 100;
    margin-top: 0;
}

@media screen and (max-width: 580px) {
    .text>h3 {
        font-size: 2rem;
    }

    .text>h4 {
        font-size: 1.5rem;
    }
}

#myForm>input {
    min-height: 60px;
    font-size: 1.5rem;
    box-sizing: border-box;
}

#myForm {
   display: flex;
    flex: auto;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    min-inline-size: 400px;
}

@media screen and (max-width:1560px) {
    .subscribe-form{
        flex-wrap: wrap;
    }

    #myForm{
        min-inline-size: 0;
    }
}

@media screen and (max-width: 580px) {
    #myForm>input {
        min-height: 30px;
        font-size: 1.5rem;
    }

    #myForm {
        margin-top: -40px;
    }
}

/*First Blogpost */


.first-blogpost{
    background-color: white;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
}

@media screen and (max-width:1000px) {
    .first-blogpost{
        margin-left: 10%;
        margin-right: 10%;
    }
    
}

@media screen and (max-width:500px) {
    .first-blogpost{
        margin-left: 2%;
        margin-right: 2%;
    }
    
}

.first-blogpost-img {
    background-image: url(media/Aristoteles.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    background-position: 50% 50%;
    color: white;
    position: relative;
    padding: 20px;
}

.first-blogpost-img:hover {
    -webkit-filter: grayscale(100%);
}

.first-blogpost-img>p{
    bottom: 0;
    position: absolute;
    font-weight: 900;
    font-size: 50px;
}

@media screen and (max-width: 580px) {
    .first-blogpost-img>p{
        font-size: 36px;
    }
}

.first-blogpost-text{
    position: relative;
    font-size: 24px;
    padding: 20px;
}

.first-blogpost-text>a:hover{
    color: black;
}

/*links*/
.links {
    display: flex;
    font-size: 32px;
    justify-content: center;
    gap: 80px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.links>a{
    color: black;
}

.links>a:hover{
    color: blueviolet;
}

@media screen and (max-width:600px) {
    .links {
        gap: 10px;
    }
}

@media screen and (max-width: 420px) {
    .links {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}

/*Footer*/
footer{
    background-color: black;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 50px;
    font-size: 18px;
    text-align: center;
}

footer>a {
    color: rgb(218, 215, 215);
}

footer>a:hover {
    color: blue;
}




/* BLOGS PAGES BLOGS PAGES BLOGS PAGES BLOGS PAGES */

.blog-first-blogpost {
margin-top: 10%;
}

.blog-title>a{
    text-decoration: none;
    color: white;
}

.blog-title>a:hover{
    text-decoration: none;
    color: black;
}

.header-links>.blog-blog{
    text-decoration-line: underline;
}


/*SUBSCRIE PAGE SUBSCRIBE PAGE SUBSCRIBE PAGE*/

.subscribe-subscribe-form {
    margin-top: 12.5%;
}

.header-links>.subscribe-subscribe-link {
    text-decoration-line: underline;
}


/* ARTICLE OUTLINE ARTICLE OUTLINE ARTICLE OUTLINE */

.article-article{
    margin-top: 10%;
}

.article-blogpost-img {
    background-image: url(media/Aristoteles.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    background-position: 50% 50%;
    color: white;
    position: relative;
    padding: 20px;
}


.article-blogpost-img>p{
    bottom: 0;
    position: absolute;
    font-weight: 900;
    font-size: 50px;
}

@media screen and (max-width: 580px) {
    .article-blogpost-img>p{
        font-size: 36px;
    }
}

.article-title>a{
    text-decoration: none;
    color: white;
}

.article-title>a:hover{
    text-decoration: none;
    color: black;
}
